body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-color: #ededed; }
  body .jumbotron-main {
    background-color: #ef8d24; }

.navbar-brand,
.navbar-nav li a {
  font-size: 1.1em;
  line-height: 100px;
  height: 100px;
  padding-top: 0;
  text-decoration: none; }

.navbar {
  border: none;
  background-color: #333; }

.content-jumbotron {
  background-color: #dcdcdc; }

.jumbotron {
  outline: #c3c3c3 solid thin; }

img.logo {
  padding-top: 10px;
  width: 70px;
  height: auto;
  -webkit-filter: brightness(100);
  filter: brightness(100);
  transition: all .4s ease-in-out 0s; }

img.logo:hover {
  -webkit-filter: brightness(0);
  filter: brightness(0); }

.intro-section {
  margin-top: 100px;
  height: 100%;
  background: #ededed;
  padding-bottom: 100px; }

.navbar-collapse .navbar-right li > a {
  color: #999;
  -webkit-transition: all 1s ease-in-out 0s;
  border-bottom: 10px solid #333;
  transition: all .4s ease-in-out 0s; }

.navbar-collapse .navbar-right li > a:hover {
  border-bottom: 10px solid #f6be83;
  color: white; }

.footer {
  background-color: #333;
  padding: 5px;
  color: #000; }

/*# sourceMappingURL=main.css.map */
