@import "../bourbon/bourbon";
$primary-orange: #ef8d24;
$muted-orange: lighten($primary-orange, 20%);
$secondary-red:  darken($primary-orange, 10%);
$dark-gray: #333;
$transparent-dg: transparentize($dark-gray, .5);
$primary-color: #333;
$emphasis: #000;
$gray-med: #dcdcdc;
$gray-light: #ededed;
$font-stack: "Open Sans", sans-serif;
$gray-border: darken($gray-med, 10%);
body{
    font-family: $font-stack;
    font-weight:300;
    background-color: $gray-light;
    .jumbotron-main{
        background-color: $primary-orange;
    }

}
.navbar-brand,
.navbar-nav li a{
    font-size: 1.1em;
    line-height:100px;
    height:100px;
    padding-top:0;
    text-decoration: none;
}
.navbar{
    border:none;
    background-color: $dark-gray;
//    background-color: $transparent-dg;
}
.content-jumbotron{
    background-color: $gray-med;
}
.jumbotron{
        outline: $gray-border solid thin;
}

img.logo{
    padding-top:10px;
    width: 70px;
    height:auto;
    -webkit-filter: brightness(100.0);
    filter: brightness(100.0);
    transition: all .4s ease-in-out 0s;

}
img.logo:hover{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}


.intro-section{
    margin-top:100px;
    height:100%;
    background: $gray-light;
    padding-bottom: 100px;
}

.navbar-collapse .navbar-right li > a{
    color:#999;
    -webkit-transition: all 1s ease-in-out 0s;
    border-bottom: 10px solid $dark-gray;
    transition: all .4s ease-in-out 0s;
}

.navbar-collapse .navbar-right li > a:hover{
    border-bottom: 10px solid $muted-orange;
    color: white;
}

.footer{
    background-color: #333;
    padding:5px;
    color: #000;

}

//.navbar-collapse .navbar-right li > a:after{
//    webkit-transform: scaleX(0);
//    transform: scaleX(0);
//}
//
//.navbar-collapse .navbar-right li > a:hover:after{
//    color:#fff;
//
//    -webkit-transform: scaleX(1);
//    transform: scaleX(1);
//}

